@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@mixin common {
  font-weight: 400;
  line-height: 1.75rem;
}

@mixin h1($color: $primary-black) {
  @include common();
  font-weight: 600;
  font-size: 1.875rem;
  color: $color;
}

@mixin h2($color: $primary-black) {
  @include common();
  font-weight: 600;
  font-size: 1.5rem;
  color: $color;
}

@mixin h3($color: $primary-black) {
  @include common();
  font-weight: 600;
  font-size: 1.125rem;
  color: $color;
}

@mixin p($color: $primary-black) {
  @include common();
  font-size: 1.125rem;
  color: $color;
}

@mixin button-text-one {
  @include common();
  font-size: 1.125rem;
}
